:root {
    --primary-color: #fff275;

    --secondary-color: #758e4f;

    --accent-color: #3aaed8;

    --text-color: #4f1802;
}
body {
    background-color: var(--primary-color);
}
.bg-info {
    background-color: var(--secondary-color) !important;
}
.navbar-brand {
    color: var(--text-color);
}
.hero {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.herotext {
    color: var(--text-color) !important;
}
.btn-primary {
    background-color: var(--accent-color);
}
.footer {
    height: 60px;
}
#map {
    height: 87vh;
    width: 100vw;
}
